/* GENERAL STYLES */
body{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
/* STYLE */
.white{
  color: white;
}
.desktop{
  display: none;
}
.grey{
  background: #e9e9e9;
}
.box{
  margin: 10px;
}
/* CONTAINER */
.container{
  width: 1350px;
}
/* NAV */
.text-align{
  text-align: left;
}
.grey{
  background: #e9e9e9;
}
.box{
  margin: 10px;
}
.box> .logo{
  max-height: 100px;
  padding: 20px;
}
ul li{
  list-style: none;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  font-size: 13px;
  margin-top:15px;
  padding: 8px;
}
.border-right{
 border-right: 2px solid black;
 padding-right: 8px;
}
/* JUMBOTRON */
.jumbotron{
  height: 420px;
  background-image: url('../img/hero-bg.jpg');
  background-size: cover;
  text-align: center;
  position: relative;
}
.text-jumbotron{
  position: absolute;
  top: 30%;
}
.link{
  position: absolute;
  top: 50%;
}
/*main1*/
img{
max-height: 200px;
}
.center{
  text-align: center;
}
.padding{
  padding: 10px;
}
/* helbiz */
.helbiz-works{
  height: 420px;
  margin-bottom: 150px;
  background-image: url('../img/helbiz-banner.jpg');
  background-position: left center;
  background-size: cover;
}
.helbiz-works .col-left,
.helbiz-works .col-right{
  margin-top: 440px;
}
.col-left .text h3{
  /*non mi funziona*/
  display: inline-block;
  text-align: left;
}

@media screen and (min-width: 990px){
  .desktop{
    display: block;
  }
  .scooter{
    max-height: 300px;
  }
  .btn{
    font-size: 14px;
  }
  .s-o{
    position: relative;
    top: 50%;
    left:50%;
  }
  .padding span{
    font-size:16px;
  }
  .helbiz-works .iphone{
    margin-top: 100px;
    text-align: center;
  }
  .helbiz-works .iphone img{
    max-height:500px;
    max-width: 100%;
  }
  .helbiz-works {
    background-position: center;
  }
}
@media screen and (min-width: 1200px){
  .scooter{
    max-height: 300px;
  }
  .helbiz-works{
    margin-bottom: 250px;
  }
}
